{% extends "base.html" %} {% block title %}{{title}}{% endblock %} {% block
content %}
<div hx-ext="response-targets">
  <form
    hx-target="#response"
    hx-target-401="#unauthorized"
    hx-target-404="#not-found"
    hx-post="/login"
    hx-ext="json-enc"
  >
    <input type="text" name="name" placeholder="Name" required /><br />
    <input
      type="password"
      name="password"
      placeholder="Password"
      required
    /><br />
    <button type="submit">Send</button>
  </form>
  <div id="response"></div>
  <div id="unauthorized"></div>
  <div id="not-found"></div>
</div>
{% endblock %}
